#list {
    text-align: left;
}

ol {
    list-style: none;
    width: 200%;
    text-align: left;
    white-space: nowrap;
}

h1 {
    background-color: #4b79b4;
    opacity:  0.7;
    color: 	#9932CC;
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 4rem;
    font-weight: bold;
}

body {
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

li {
    color: black;
    font-size: 2rem;
    clear: right;
    border: 0.5rem;
    transition: 0.5s;
}

.button {
    float: right;
    opacity: 1;
    transition: 0.5s;
}

#help {
    height: 8rem;
    width: 5rem;
    font-size: 2rem;
    background-color: #4b79b4;
    opacity: 0.85;
    color: goldenrod;
}

#res {
    height: 8rem;
    width: 8rem;
    font-size: 1.3rem;
    background-color: #4b79b4;
    opacity: 0.85;
    color: goldenrod;
}

#sub {
    height: 8rem;
    width: 8rem;
    font-size: 1.3rem;
    background-color: #4b79b4;
    opacity: 0.85;
    color: goldenrod;
}

#in {
    height: 4rem;
    width: 27rem;
}

#text {
    color: black;
    font-size: 2rem;
    clear: right;
    border: 0.5rem;
    transition: 0.5s;
}

.movie:first-child button.up, .movie.last-child button.down {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
}